<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mirta & Luca</title>

    <link rel="shortcut icon" href="../favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/creative.min.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://addthisevent.com/libs/1.6.0/ate.min.js"></script>


</head>

<body id="page-top" ng-app="weddingApp">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="http://www.mirtaeluca.com" class="navbar-brand page-scroll">IT</a> | <a href="http://www.mirtaeluca.com/en" class="navbar-brand page-scroll">EN</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#info">Info</a>
                </li>
                <li>
                    <a class="page-scroll" href="#rsvp">RSVP</a>
                </li>
                <li>
                    <a class="page-scroll" href="#cities">Honeymoon</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contacts</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="../img/logo.png" width="auto"/>

            <p>Saturday, August 29th, 2015</p>
            <hr>
            <a href="#rsvp" class="btn btn-primary btn-xl page-scroll">RSVP</a>
        </div>
    </div>
</header>


<section id="info">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../img/date2.png" class="wow bounceIn" data-wow-delay=".1s" width="auto">

                    <h3>When & Where</h3>

                    <p class="text-muted">Our big day will be <br/>Saturday, <strong>August 29th</strong>,<br/> at <a
                            href="http://www.tenutadisantalucia.com/cms/en/" target="_blank">Tenuta di Santa Lucia</a> <br/>in the beautiful italian country side.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../img/cerimonia2.png" class="wow bounceIn" data-wow-delay=".1s" width="auto">

                    <h3>Ceremony</h3>

                    <p class="text-muted">We will get married <br/>according to the <strong>civil rite</strong> <br/>in the garden of la Tenuta,
                        <br/> at <strong>6:30pm</strong>.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../img/ricevimento2.png" class="wow bounceIn" data-wow-delay=".1s" width="auto">

                    <h3>Reception</h3>

                    <p class="text-muted">Let us welcome you<br/> with bubbles, a <strong>buffet</strong> of local products, a jazz band, and then a seated <strong>dinner</strong>.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../img/party2.png" class="wow bounceIn" data-wow-delay=".1s" width="auto">

                    <h3>Party</h3>

                    <p class="text-muted">Right after the cake,<br/>
                        get ready for the <strong>open bar</strong>:<br/>
                        party, dj, drinks <br/>and
                        <strong>tralalà</strong>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="map">
    <div class="google_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d94161.01740459724!2d12.222373428453972!3d42.4802456712117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f28d1e36ef5e9%3A0x8a28dbac003028af!2sTenuta+di+Santa+Lucia!5e0!3m2!1sen!2sus!4v1431653676329"
                width="100%" height="450" frameborder="0" style="border:0"></iframe>
    </div>
</section>

<section class="bg-primary" id="rsvp" ng-controller="rsvpController">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">RSVP </h2>
                <hr>
                <p ng-hide="rsvpDone">We kindly ask you to confirm your attendance as soon as possibile. Thanks.</p>
            </div>
        </div>
        <div>
            <div class="fade-in-out" ng-include="'thanks.html'" ng-hide="!rsvpDone"></div>
            <div ng-include="'form.html'" ng-hide="rsvpDone"></div>
        </div>
    </div>

</section>

<section id="cities" ng-controller="balloonController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <div id="mirta" class="question" ng-hide="!isMirta() || isDone">{{currentText()}}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id='airbaloon' ng-class="{flyaway:isDone,soaring:!isDone}">
                        <button type="button" id="next" ng-click="incrementTextIndex()"></button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="luca" class="question" ng-hide="!isLuca() || isDone">{{currentText()}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="registry">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">Honeymoon</h2>
            <hr>
            <span><i style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"
                     class="fa fa-1x fa-quote-left wow bounceIn text-primary" data-wow-delay=".1s"></i> <i>The best way to understand the world consists in seeing it from as many angles as possible.</i> <i style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"
                                    class="fa fa-1x fa-quote-right wow bounceIn text-primary" data-wow-delay=".1s"></i></span><br>

            <div class="col-lg-10 col-lg-offset-1 text-center"><p>As we don't really need a registry made up of material objects, we decided to take advantage of this opportunity<br/>
                to give even more value to what we believe is the most important thing: the time we spend together.<br/><br/>

                The journey that started from Italy and brought us in the United States still has many other destinations to explore.<br/><br/>

                For our honeymoon we are planning to enjoy the Caribbean beaches, <br/>to wander in South America, or maybe discover Japan.<br/>
                We look forward to this opportunity to wander, get lost, discover new places, food, and cultures <br/>in order to come back to the starting point a little bit wiser, a little bit changed. Together.<br/><br/>

                A huge thank you to all those who want to contribute to the beginning of our long journey together.
                <br>- Mirta e Luca -</p></div>

            <br>

            <hr class="light">
            <div ng-controller="showHide" class="ng-scope">
                <button ng-click="show = !show" class="btn btn-default btn-xl wow tada"
                        style="visibility: visible; animation-name: tada;">Your Gift
                </button>
                <br><br>

                <div class="fade-in-out ng-hide" ng-show="show" style="">



                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-2 col-md-4 text-center">
                            <div class="service-box">
                                <i data-wow-delay=".1s" class="fa fa-2x fa-cc-paypal text-primary"
                                   style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>

                                <p>Use PayPal</p><br/>
                                <div class="fade-in-out" ng-include="'/donate.html'"></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 text-center">
                            <div class="service-box">
                                <i data-wow-delay=".1s" class="fa fa-2x fa-gift text-primary"
                                   style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>

                                <p>Wire transfer IBAN<br/>

                                <p>Luca Martinetti <br/>IT12 R030 3203 2090 1000 0001 588</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-car wow bounceIn text-primary" data-wow-delay=".1s"></i>

                    <h3>Directions</h3>

                    <p class="text-muted"><strong>AIRPORT:</strong> Flight to ROMA Fiumicino. (FCO)<br/>
                        <strong>CAR:</strong> Rent a Car at the Airport.<br/>
                        <strong>From ROMA:</strong> <a href="https://www.google.com/maps/dir/Leonardo+da+Vinci+International+Airport,+Via+dell%27+Aeroporto+di+Fiumicino,+320,+00054+Fiumicino+RM,+Italy/Viterbo+VT/@42.1232969,11.6505221,9z/am=t/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x1325f0793898141f:0xafe513b4e358316f!2m2!1d12.246238!2d41.799887!1m5!1m1!1s0x132f2cf9a622dfcf:0xb50255953c6f6b43!2m2!1d12.107669!2d42.4206766?hl=en" target="_blank">drive to the city of VITERBO</a>.<br/>
                        <strong>From VITERBO:</strong> <a href="https://www.google.com/maps/dir/Viterbo+VT/Tenuta+di+Santa+Lucia,+S.S.+Ortana+Km+13,200,+Soriano+Nel+Cimino+Province+of+Viterbo,+Italy/@42.4435755,12.1354001,13z/data=!4m15!4m14!1m5!1m1!1s0x132f2cf9a622dfcf:0xb50255953c6f6b43!2m2!1d12.107669!2d42.4206766!1m5!1m1!1s0x132f28d1e36ef5e9:0x8a28dbac003028af!2m2!1d12.228167!2d42.466401!3e0!5i1?hl=en" target="_blank">drive to Tenuta di Santa Lucia.</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-bed wow bounceIn text-primary" data-wow-delay=".1s"></i>

                    <h3>Where to sleep</h3>

                    <p class="text-muted">Make sure to book your room on time. <br/>Here some nearby hotels and resort:
                        <br/>
                        <a href="https://www.diamondresorts.com/Palazzo-Catalani" target="_blank"><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> Palazzo
                            Catalani</a>
                        <br/><a href="http://book.bestwestern.it/EN/hotel_in_Viterbo_98252.aspx?sob=A135&iata=00170580&utm_source=TripadvisorIT&utm_medium=Business-Listing&utm_campaign=Business-Listing" target="_blank"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i> Best Western</a>
                        <br/><a href="http://www.allacortedelleterme.it" target="_blank"><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i> La Corte delle terme</a>
                    </p>
                </div>
            </div>
        </div>
        <br/>
        <hr>
        <br/>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-camera wow bounceIn text-primary" data-wow-delay=".1s"></i>

                    <h3>What to visit</h3>

                    <p class="text-muted">
                        <strong>Bomarzo:</strong> The Park of Monsters, 16th Cent. AD - 0h15 far<br/>
                        <strong>San Pellegrino in Viterbo:</strong> Medieval city, 11th Cent. AD - 0h25 far<br/>
                        <strong>Necropoli di Tarquinia</strong> Monterozzi necropolis, 7th Cent. BCE - 0h53 far<br/>
                        <strong>Event in Viterbo:</strong> Macchina di Santa Rosa - Sept 3rd at 9:00 pm<br/>
                        <strong>Giardino dei Tarocchi:</strong> Sculpture garden, 21st Cent. AD - 1h22 far <br/>

                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-sun-o wow bounceIn text-primary" data-wow-delay=".1s"></i>

                    <h3>Weather</h3>

                    <p class="text-muted">The weather in Italy at the end of August,<br/> expecially near Viterbo is pretty hot and sunny.<br/>
                        Usually it's around 80-95°F<br/>
                        during the whole day.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Questions?</h2>
                <hr class="primary">
                <p>If you need further info or help, feel free to ping us.</p><br/><br/>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i><br/><br/>

                <p><a href="https://www.facebook.com/lucamartinetti" target="_blank">Luca Martinetti</a></p>

                <p><a href="https://www.facebook.com/BlackMamby">Mirta Rotondo</a></p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i><br/><br/>

                <p><strong>Luca</strong> +39 366 9418476 <strong>(USA)</strong> +1 415 539 5003</p>

                <p><strong>Mirta</strong> +39 339 6666731 <strong>(USA)</strong> +1 415 298 1604</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i><br/><br/>

                <p><a href="mailto:lucamartinetti@gmail.com">lucamartinetti@gmail.com</a></p>

                <p><a href="mailto:mirta.rotondo@gmail.com">mirta.rotondo@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>

<footer>
    Web Design by <a href="http://www.fluxcap.it" target="_blank">the bride</a>, Magic tricks by <a
        href="https://twitter.com/lucamartinetti" target="_blank">the groom</a>.
</footer>


<!-- jQuery -->
<script src="http://code.jquery.com/jquery-2.1.4.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../js/jquery.easing.min.js"></script>
<script src="../js/jquery.fittext.js"></script>
<script src="../js/wow.min.js"></script>

<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-animate.js"></script>
<script src="app.js"></script>

<!-- Google Map Over -->
<script>
    var $map, $cover;

    $map = $('.google_map');
    $cover = $('<div class="cover"></div>');
    $map.append($cover);
    $cover.on('click', function () {
        $cover.remove();
    });
</script>

<!-- Custom Theme JavaScript -->
<script src="../js/creative.js"></script>

</body>

</html>
