<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mirta & Luca</title>

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://addthisevent.com/libs/1.6.0/ate.min.js"></script>


</head>

<body id="page-top" ng-app="weddingApp">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="http://www.mirtaeluca.com" class="navbar-brand page-scroll">IT</a> | <a href="http://www.mirtaeluca.com/en" class="navbar-brand page-scroll">EN</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#info">Info</a>
                </li>
                <li>
                    <a class="page-scroll" href="#rsvp">RSVP</a>
                </li>
                <li>
                    <a class="page-scroll" href="#cities">Luna di miele</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contatti</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/logo.png"/>

            <p>Sabato 29 Agosto 2015</p>
            <hr>
            <a href="#rsvp" class="btn btn-primary btn-xl page-scroll">RSVP</a>
        </div>
    </div>
</header>


<section id="info">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/date2.png" class="wow bounceIn" data-wow-delay=".1s">

                    <h3>Dove e Quando</h3>

                    <p class="text-muted">Vi aspettiamo <br/> <strong>Sabato 29 Agosto 2015</strong> <br/>presso la <a
                            href="http://www.tenutadisantalucia.com/" target="_blank">Tenuta di Santa Lucia</a> <br/>a
                        Soriano nel Cimino (VT).</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/cerimonia2.png" class="wow bounceIn" data-wow-delay=".1s">

                    <h3>La Cerimonia</h3>

                    <p class="text-muted">Ci sposeremo <br/>secondo rito civile <br/>nel giardino della Tenuta, <br/>alle
                        <strong>ore 18:30</strong>.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/ricevimento2.png" class="wow bounceIn" data-wow-delay=".1s">

                    <h3>Ricevimento</h3>

                    <p class="text-muted">Brinderemo a suon di jazz<br/>partendo dall'<strong>aperitivo</strong> <br/>e
                        proseguiremo <br/>con la
                        <strong>cena</strong>.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/party2.png" class="wow bounceIn" data-wow-delay=".1s">

                    <h3>Party</h3>

                    <p class="text-muted">Dopo il taglio della torta, <br/>via all'<strong>open bar</strong>: <br/>party,
                        dj, drinks e <br/><strong>tralalà</strong>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="map">
    <div class="google_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d94161.01740459724!2d12.222373428453972!3d42.4802456712117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f28d1e36ef5e9%3A0x8a28dbac003028af!2sTenuta+di+Santa+Lucia!5e0!3m2!1sen!2sus!4v1431653676329"
                width="100%" height="450" frameborder="0" style="border:0"></iframe>
    </div>
</section>

<section class="bg-primary" id="rsvp" ng-controller="rsvpController">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">RSVP </h2>
                <hr>
                <p ng-hide="rsvpDone">Vi chiediamo di confermare la vostra presenza il prima possibile.</p>
            </div>
        </div>
        <div>
            <div class="fade-in-out" ng-include="'thanks.html'" ng-hide="!rsvpDone"></div>
            <div ng-include="'form.html'" ng-hide="rsvpDone"></div>
        </div>
    </div>

</section>

<section id="cities" ng-controller="balloonController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <div id="mirta" class="question" ng-hide="!isMirta() || isDone">{{currentText()}}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id='airbaloon' ng-class="{flyaway:isDone,soaring:!isDone}">
                        <button type="button" id="next" ng-click="incrementTextIndex()"></button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="luca" class="question" ng-hide="!isLuca() || isDone">{{currentText()}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="registry">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">Luna di miele</h2>
            <hr>
            <span><i style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"
                     class="fa fa-1x fa-quote-left wow bounceIn text-primary" data-wow-delay=".1s"></i> <i>Il modo
                migliore per cercare di capire il mondo è vederlo dal maggior numero possibile di
                angolazioni.</i> <i style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"
                                    class="fa fa-1x fa-quote-right wow bounceIn text-primary" data-wow-delay=".1s"></i></span><br>

            <div class="col-lg-10 col-lg-offset-1 text-center"><p>Abbiamo scelto di non aprire una lista di nozze fatta
                di oggetti ma di sfruttare questa opportunità <br>per dare valore a quello che crediamo sia più
                importante: il tempo ed il percorso insieme.<br>

                Il viaggio che partendo dall'Italia ci ha portato negli Stati Uniti ha ancora moltissime altre tappe.
                <br><br>

                Stiamo pensando a goderci le spiagge dei Caraibi, a vagare per il Sud D'America o magari scoprire il
                Giappone.<br>

                Come ogni volta non vediamo l'ora di partire per poter poi ritornare un pò cambiati al punto di
                partenza.<br><br>

                Un grazie di cuore a tutti coloro che vorranno contribuire all'inizio del nostro lungo viaggio insieme.
                <br>- Mirta e Luca -</p></div>

            <br>

            <hr class="light">
            <div ng-controller="showHide" class="ng-scope">
                <button ng-click="show = !show" class="btn btn-default btn-xl wow tada"
                        style="visibility: visible; animation-name: tada;">Regala
                </button>
                <br><br>

                <div class="fade-in-out ng-hide" ng-show="show" style="">



                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-2 col-md-4 text-center">
                            <div class="service-box">
                                <i data-wow-delay=".1s" class="fa fa-2x fa-cc-paypal text-primary"
                                   style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>

                                <p>Trasferimento tramite PayPal</p><br/>
                                <div class="fade-in-out" ng-include="'donate.html'"></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 text-center">
                            <div class="service-box">
                                <i data-wow-delay=".1s" class="fa fa-2x fa-gift text-primary"
                                   style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>

                                <p>Bonifico bancario <br/><br/>intestato a Luca Martinetti <br/> IBAN 00000000000000000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-car wow bounceIn text-primary" data-wow-delay=".1s"></i>

                    <h3>Come arrivare</h3>

                    <p class="text-muted">Da <strong>ROMA</strong>: Flaminia Nuova, Cassia Bis (SS2bis) in direzione VT.<br/>
                        Proseguire per SR2 (Cura di Vetralla).<br/> Da <strong>VITERBO</strong>: prendere la SS675 <br/>in
                        direzione SP60 (uscita Bomarzo/Soriano). <br/>Proseguire per Contrada Fornacchia SP151/Ortana,
                        km 13,200.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-bed wow bounceIn text-primary" data-wow-delay=".1s"></i>

                    <h3>Dove dormire</h3>

                    <p class="text-muted">Se desiderate pernottare nelle vicinanze, <br/>ecco alcuni alberghi:
                        <br/>
                        <a href="https://www.diamondresorts.com/Palazzo-Catalani" target="_blank"><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> Palazzo
                            Catalani</a>
                        <br/><a href="http://book.bestwestern.it/EN/hotel_in_Viterbo_98252.aspx?sob=A135&iata=00170580&utm_source=TripadvisorIT&utm_medium=Business-Listing&utm_campaign=Business-Listing" target="_blank"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i> Best Western</a>
                        <br/><a href="http://www.allacortedelleterme.it" target="_blank"><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i> La Corte delle terme</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Domande?</h2>
                <hr class="primary">
                <p>Per qualsiasi altra info, ecco i nostri contatti.</p><br/><br/>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i><br/><br/>

                <p><a href="https://www.facebook.com/lucamartinetti" target="_blank">Luca Martinetti</a></p>

                <p><a href="https://www.facebook.com/BlackMamby">Mirta Rotondo</a></p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i><br/><br/>

                <p><strong>Luca</strong> +39 366 9418476 <strong>(USA)</strong> +1 415 539 5003</p>

                <p><strong>Mirta</strong> +39 339 6666731 <strong>(USA)</strong> +1 415 298 1604</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i><br/><br/>

                <p><a href="mailto:lucamartinetti@gmail.com">lucamartinetti@gmail.com</a></p>

                <p><a href="mailto:mirta.rotondo@gmail.com">mirta.rotondo@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>

<footer>
    Web Design by <a href="http://www.fluxcap.it" target="_blank">the bride</a>, Magic tricks by <a
        href="https://twitter.com/lucamartinetti" target="_blank">the groom</a>.
</footer>


<!-- jQuery -->
<script src="http://code.jquery.com/jquery-2.1.4.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-animate.js"></script>
<script src="js/app.js"></script>

<!-- Google Map Over -->
<script>
    var $map, $cover;

    $map = $('.google_map');
    $cover = $('<div class="cover"></div>');
    $map.append($cover);
    $cover.on('click', function () {
        $cover.remove();
    });
</script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

</body>

</html>
